@import "../../styles/variables.less";

.header {
  position: fixed;
  z-index: @header-z-index;
  height: @header-height;
  top: 0;
  box-shadow: @box-shadow-base;
  max-width: 100%;
  width: 100%;
  padding: 0 15px;
  transition: @animation-speed-medium;
  left: 50%;
  transform: translate(-50%);
  background-color: transparent;

  &__content {
    display: flex;
    flex-flow: nowrap row;
    justify-content: space-between;
    align-items: center;
    height: 100%;
  }

  &__center {
    height: 100%;
    display: flex;
    justify-content: space-between;
  }

  &__left {
    width: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__menu-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    transition: linear 0.2s;
    padding: 0 3px;
    opacity: 0.5;
    width: 120px;
    border-bottom: solid 2px transparent;
  }

  &__menu-item-text {
    margin: 0 5px;
    font-size: 14px;
  }

  &__menu-item-icon {
    font-size: 20px;
    margin: 5px;
  }

  &__menu-item-active {
    opacity: 1;
    border-bottom: solid 2px @primary-color;
  }

  &__right {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    min-width: 160px;
  }

  &__scroll {
    max-width: @container + 30px;
    border-radius: @border-radius-base;
    top: 5px;
    background-color: @global-background;
  }
}

.mob-header {
  display: none;
}

@media screen and (max-width: 870px) {
  .header {
    &__menu-item {
      display: flex;
      flex-flow: nowrap column;
      width: 100px;
    }
  }
}

@media screen and (max-width: @mobile-version) {
  .header {
    bottom: 1px;
    top: auto;
    height: 53px;
    border-radius: @border-radius-baseX2 @border-radius-baseX2 0 0;
    padding: 0;

    &__content {
      display: block;
    }

    &__left {
      display: none;
    }

    &__menu-item {
      display: flex;
      flex-flow: nowrap column;
      margin: 0;
      width: 25%;
    }
    &__right {
      display: none;
    }
    &__center {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }
  }

  .mob-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: @header-height-mobile;
    box-shadow: @box-shadow-base;
    position: fixed;
    top: 0;
    z-index: @header-z-index;
    left: 50%;
    transform: translate(-50%);
    max-width: 100%;
    transition: @animation-speed-medium;
    width: 100%;

    &__scroll {
      max-width: 98%;
      border-radius: @border-radius-base;
      background-color: white;
      top: 3px;
    }
  }
}

@media screen and (max-width: 540px) {
  .header {
    height: @header-height-mobile;
    &__menu-item {
      flex: 1;
    }
    &__menu-item-text {
      margin: 0 5px;
      font-size: 10px;
    }

    &__menu-item-icon {
      font-size: 17px;
      margin: 5px;
    }
  }
}
