@import "~antd/dist/antd.less";
@import "./variables.less";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 300px;
  background-color: rgb(238, 238, 238);
}

.container {
  max-width: @container;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.header-margin {
  padding-top: @header-height;
}

.bold {
  font-weight: bold;
}

a {
  transition: @animation-speed-slow;
  &:hover {
    opacity: 0.3;
  }
}

.cursor-pointer {
  cursor: pointer;
}

.cut-text {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.card {
  background-color: @global-background;
  border-radius: @border-radius-base;
  padding: @padding-medium;
}

// @colors
.primary-color {
  color: @primary-color;
}

.secondary-color {
  color: @secondary-color;
}

// @font-size
.font-size-medium {
  font-size: 20px;
}

.font-size-large {
  font-size: 30px;
}

// @margin
.margin-small {
  margin: 5px;
}

// @padding
.padding-small {
  padding: 5px;
}

.padding-large {
  padding: 15px;
}

@media screen and (max-width: @mobile-version) {
  .header-margin {
    margin-top: @header-height-mobile + 3;
    margin-bottom: @menu-height-mobile;
  }
}
