@import "~antd/dist/antd.less";
@import "./variables.less";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  min-width: 300px;
}

.container {
  max-width: @container;
  min-width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.header-margin {
  margin-top: @header-height;
}

.bold {
  font-weight: bold;
}

a {
  &:hover {
    opacity: 0.7;
  }
}

// @colors
.primary-color {
  color: @primary-color;
}

.secondary-color {
  color: @secondary-color;
}

// @font-size
.font-size-medium {
  font-size: 20px;
}

// @margin
.margin-small {
  margin: 5px;
}

// @padding
.small-padding {
  padding: 5px;
}

@media screen and (max-width: @mobile-version) {
  .header-margin {
    margin-top: @header-height-mobile + 3;
    margin-bottom: @menu-height-mobile;
  }
}
